@import url('./variables.css');

.contests-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.contests-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.contest-card {
  /*background-color: #fffcf9;*/
  background-color: var(--glass);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  width: 250px;
  padding: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.contest-card:hover {
  transform: translateY(-10px);
}

.contest-title {
  align-items: center;
}

.contest-content {
  text-align: left;
  padding-inline: 20px;
}

.contest-title {
  font-size: 1.2rem;
  color: #f48fb1;
}

.contest-subtitle {
  color: #f48fb1;
}

.contest-description {
  color: var(--text-secondary);
}

.contest-tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.contest-tag {
  background-color: #ff80ab;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 0.9rem;
  color: white;
  font-weight: bold;
}

.contest-icon {
  font-size: 2rem;
  color: #f48fb1;
  display: block;
  margin: 0 auto;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.modal-content h2,
.modal-content h3 {
  color: #f48fb1;
}

.modal-content ul {
  list-style: none;
  padding-left: 0;
}

.modal-content li {
  margin-bottom: 10px;
  color: #333;
}

button {
  background-color: #ff80ab;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f48fb1;
}
