@import url('./variables.css');

.navbar {
  background: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: none;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem max(4rem, calc((100% - 1200px) / 2));
  z-index: 1000;
}


.navbar-logo-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.navbar-image-logo {
  width: 42px;
  height: 42px;
  margin-right: 12px;
}

.navbar-logo-text {
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  color: #311119;
  font-weight: bold;
}

.links-container {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  justify-content: flex-end;
}

.link {
  color: #6b4e71;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.link:hover {
  color: #e44069;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  position: relative;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: var(--text);
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-toggle.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 940px) {
  .navbar {
    max-width: none;
    width: 100%;
  }

  .links-container {
    display: none;
    flex-direction: column;
    background-color: var(--primary);
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .links-container.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}