@import url('./variables.css');

.navbar {
  background-color: var(--primary);
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  width: 42px;
  height: 42px;
  margin-right: 12px;
}

.logo-text {
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  color: #311119;
  font-weight: bold;
}

.links-container {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  justify-content: flex-end;
}

.link {
  color: #6b4e71;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.link:hover {
  color: #e44069;
}

.navbar-wrapper {
  background-color: var(--primary);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Estilos para el dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;  /* Se oculta por defecto */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--primary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  flex-direction: column;
  min-width: 160px;
  padding: 10px 0;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: flex;  /* Se muestra cuando el mouse está encima */
}

.dropdown-item {
  padding: 10px 20px;
  text-decoration: none;
  color: #6b4e71;
  font-weight: bold;
  transition: background 0.3s ease;
}

.dropdown-item:hover {
  color: #e44069;
}
