/* src/variables.css */
:root {
  --primary: #ffe0e6; /* Rosa pastel suave */
  --secondary: #f9f3ff; /* Rosa chicle pastel */
  --accent: #ffafcc; /* Rosa vibrante pero suave */
  --background: #fff0f5; /* Fondo lavanda pálido */
  --text: #6d597a; /* Morado grisáceo suave para mejor lectura */
  --text-secondary: #b5838d; /* Color de texto sutil para detalles */
  --highlight: #ff85a1; /* Color llamativo pero pastel para resaltar */
  --glass: rgba(255, 255, 255, 0.6); /* Transparencia para efecto glassmorphism */
  --overlay-background: rgba(255, 224, 230, 0.8); /* Transparencia para la imagen de fondo*/
  --box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); /* Sombreado de boxes */
}
