@import url('./assets/styles/variables.css');

@font-face {
  font-family: 'Grisly Beast';
  src: url('./assets/fonts/grisly_beast_font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quenda';
  src: url('./assets/fonts/quenda.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Quenda', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

section {
  padding: 50px;
}

.title {
  font-family: 'Grisly Beast', sans-serif;
  font-size: 2rem;
  color: var(--accent);
  text-align: center;
  margin-bottom: 20px;
}

.filter-buttons {
  margin: 15px 0;
}

.filter-button.reset {
  background: #ffd700;
  color: #7d003b;
}

hr {
  border: 0;
  height: 2px;
  background: #ff69b4;
  margin: 10px 0;
}

.location-icon {
  color: var(--highlight);
  margin-right: 8px;
}

.tags-container {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  background: #bb96f2;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.9rem;
  margin: 3px;
}

.grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  background-color: var(--glass);
  transition: var(--transition);
  box-shadow: var(--box-shadow);
}

.card:hover {
  transform: var(--transform);
}

.image {
  width: 100%;
  border-radius: 10px;
}