@import url("./variables.css");

.card {
  align-items: center;
  background-color: var(--glass);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  width: 250px;
  padding: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.card:hover {
  transform: var(--transform);
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
