@import url("./variables.css");

.contests-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.contest-card {
  background-color: var(--glass);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  width: 250px;
  padding: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.contest-card:hover {
  transform: var(--transform);
}

.contest-title {
  align-items: center;
}

.contest-content {
  text-align: left;
  padding-inline: 20px;
}

.contest-title {
  font-size: 1.2rem;
  color: var(--accent);
}

.contest-subtitle {
  color: var(--accent);
}

.contest-description {
  color: #7693f1;
}

.contest-tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.contest-tag {
  background-color: var(--highlight);
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 0.9rem;
  color: white;
  font-weight: bold;
}

.contest-icon {
  font-size: 2rem;
  color: var(--accent);
  display: block;
  margin: 0 auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--primary);
  border-radius: 20px;
  padding: 20px;
  width: 70%;
  max-width: 800px;
  max-height: 90vh;
  margin: auto;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.modal-content h2,
.modal-content h3 {
  color: var(--highlight);
}

.modal-content ul {
  list-style: disc;
  padding-left: 0;
}

.modal-content li {
  margin-bottom: 10px;
  color: #5d73bb;
}

.contest-section {
  text-align: left;
  padding: 20px;
}

.contest-section ul li::before {
  content: ".";
  position: absolute;
  left: 0;
  color: #f48fb1;
}
