@import url("./variables.css");

.grid {
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
}

.preview {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);

  border: var(--border);
}

.preview:hover {
  filter: brightness(70%);
  cursor: pointer;
}

.modal-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-image {
  max-width: 90vw;
  max-height: 90vh;
  width: auto;
  height: auto;
  object-fit: contain;

  border: 2px solid rgba(95, 124, 240, 0.3);
  border-radius: 10px;
}

@media (max-width: 990px) {
  .preview {
    width: 85px;
    height: 110px;
  }
}
