@import url("./variables.css");

.name {
  font-weight: bold;
  font-size: 1.1em;
  margin: 10px 0;
  color: var(--accent);
}

.category {
  color: #5c6a96;
  font-size: 1em;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.day-tag {
  background-color: var(--accent);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

.guest-location {
  font-size: 0.9rem;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}