@import url("./variables.css");

.container {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background: var(--primary);
}

.hero {
  position: relative;
  height: 80vh;
  background: url("https://images6.alphacoders.com/756/756831.jpg") center/cover
    no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-background);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  padding: 20px;
  font-family: 'Baloo 2', cursive;
}

.home-title {
  font-size: 3em;
  font-weight: bold;
  color: #e44069;
}

.subtitle {
  font-size: 1.2em;
  margin: 10px 0;
  color: var(--text);
}

.button {
  background: #ff4081;
  color: #fff;
  padding: 12px 24px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.button:hover {
  background: #d81b60;
}

.section-title {
  font-size: 2em;
  color: #ff4081;
  margin-bottom: 15px;
  text-transform: uppercase;
}

h1,
h2 {
  font-family: "Baloo 2", cursive;
}

section {
  padding: 60px 20px;
}

.section-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.section-text {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  font-family: "Baloo 2", cursive;
}

.section-image {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  text-align: center;
}

.section-image img {
  max-width: 100%;
  /* height: auto;*/
  height: 500px;
  border-radius: 20px;
}

.section-text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #ff66a3;
}

.section-text ul {
  list-style: none;
  padding: 0;
}

.section-text ul li {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.activity-item span:hover {
  color: #ff66a3;
  transition: color 0.3s ease;
}


.location-map {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  text-align: center;
}

.map-container {
  margin-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 100%;
  height: 200px;
  border: 0;
  border-radius: 16px;
}

.past-events-image {
  flex: 1;
  max-width: auto;
  padding: 20px;
  text-align: center;
}

.past-events-image img {
  max-width: 100%;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
}

.carousel .legend {
  color: #ff66a3;
  font-family: "Baloo 2", cursive;
  font-size: 1.1rem;
  border-radius: 12px;
}

@media (max-width: 990px) {
  .section-flex-container {
    flex-direction: column-reverse;
  }
}