@import url("./variables.css");

.container {
  font-family: var(--font-primary);
  text-align: center;
  background: var(--primary);
}

.hero {
  position: relative;
  height: auto;
  padding: 350px 20px;
  background: var(--background-img);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-background);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  padding: 20px;
}

.home-title {
  font-size: 3em;
  font-weight: bold;
  color: var(--title);
}

.subtitle {
  font-size: 1.2em;
  margin: 10px 0;
  color: var(--text);
}

.button {
  background: var(--accent);
  color: #ffffff;
  padding: 12px 24px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  font-family: var(--font-primary);
  text-decoration: none;
}

.button:hover {
  background: var(--light-accent);
}

.section-title {
  font-size: 2em;
  color: #ff4081;
  margin-bottom: 15px;
  text-transform: uppercase;
}

h1,
h2 {
  font-family: var(--font-heading);
}

section {
  padding: 20px 20px;
}

.section-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.section-text {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  font-family: var(--font-secondary);
  order: 1;
}

.section-image {
  flex: 1;
  min-width: 300px;
  order: 2;
}

.section-image img {
  max-width: 100%;
  height: auto;
}

.section-text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--accent);
}

.section-text ul {
  list-style: none;
  padding: 0;
}

.section-text ul li {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.location-map {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  text-align: center;
  order: 2;
}

.map-container {
  margin-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 100%;
  height: 200px;
  border: 0;
  border-radius: 16px;
}

.past-events-image {
  flex: 1;
  max-width: auto;
  padding: 20px;
  text-align: center;
  order: 2;
}

.past-events-image img {
  max-width: 100%;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
}

.carousel .legend {
  color: #ff66a3;
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  border-radius: 12px;
}

@media (max-width: 990px) {
  .hero {
    padding: 80px 20px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .home-title {
    font-size: 2em;
  }

  .button {
    font-size: 1em;
    padding: 10px 20px;
  }
}

.grid {
  order: 2;
}

.section-map {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  order: 2;
}

.section-map img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-width: 300px;
}

.section-map .filter-button {
  width: fit-content;
  padding: 0.8rem 1.5rem;
  margin-top: 1rem;
}
