@import url("./variables.css");

.location-map {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  text-align: center;
  order: 2;
}

.map-container {
  margin-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 100%;
  height: 300px;

  border: var(--border);
  border-radius: var(--border-radius);

  box-shadow: var(--box-shadow);

  background-color: var(--glass);
}