.location-map {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  text-align: center;
  order: 2;
}

.map-container {
  margin-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 100%;
  height: 200px;
  border: 0;
  border-radius: 16px;
}