@import url("./variables.css");

.news-card {
  width: 300px;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  background-color: var(--glass);
  transition: var(--transition);
  box-shadow: var(--box-shadow);
}

.news-card:hover {
  transform: var(--transform);
}

.news-card img {
  align-items: center;
  width: 270px;
  height: 270px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

.news-card h2 {
  color: var(--accent);
}

.news-card p {
  font-family: var(--font-secondary);
  color: var(--text);
}