@import url("./variables.css");

.schedule-container {
  text-align: center;
  padding: 8rem 0 2rem;
}

.schedule-category-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.schedule-grid {
  display: grid;
  gap: 1.5rem;
  padding: 2%;
}

.schedule-item {
  background: var(--glass);
  border-radius: 12px;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 2rem;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.schedule-info {
  flex-grow: 1;
}

.schedule-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0.5rem;
  text-align: left;
}

.schedule-location {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
}

.schedule-time {
  text-align: center;
  padding-right: 2rem;
  border-right: 2px solid #bb96f2;
}

.schedule-time .time {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: var(--accent);
}

.schedule-time .day {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.schedule-tags {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .schedule-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
  }

  .schedule-time {
    border-right: none;
    padding-right: 0;
    border-bottom: 0;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .schedule-info {
    text-align: center;
  }

  .schedule-location,
  .schedule-tags {
    justify-content: center;
  }
}
