@import url("./variables.css");

.stand-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--accent);
  margin: 10px 0;
}

.stand-location {
  font-size: 0.9rem;
  color: #f1ece6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.icon {
  color: #ff66b2;
  font-size: 1.2rem;
}
