:root {
  --primary: #2449a4;
  --secondary: #f9f3ff;
  --accent: #f5559b;
  --light-accent: #f12e82;
  --highlight: #597ce2;
  --title: #597ce2;
  --background: #fff0f5;
  --text: #f1ece6;
  --text-secondary: #4569de;
  --glass: rgb(56, 94, 189);
  --overlay-background: rgba(36, 73, 164, 0.3);
  --box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  --transition: transform 0.3s ease, box-shadow 0.3s ease;
  --transform: scale(1.05);

  --font-primary: "Quenda", sans-serif;
  --font-secondary: "Baloo 2", cursive;
  --font-heading: "Grisly Beast", sans-serif;

  --background-img: url("../images/maravillas_invernales.webp") center/cover
    no-repeat;
}

* {
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Outfit", sans-serif;
  background: var(--primary);
  color: var(--text);
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
  position: relative;
  margin: 0;
  display: block;
}
